.dropdown {
    width: 300px;
}

.models {
    padding-bottom: 10px;
}

.prompt {
    width: 500px;
}

.promptHolder {
    padding-bottom: 10px;
}

.holder {
    margin: 10px;
}

.formHolder {
    padding: 20px 0;
}